@model IEnumerable<WebAppPatientCare.Models.Lectura>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RitmoCardiaco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaturacionOxigeno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaMedicion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPacienteNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RitmoCardiaco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaturacionOxigeno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaMedicion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPacienteNavigation.IdPaciente)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdLectura">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdLectura">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdLectura">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
